body {
    background-image: url("./assets/picture/background-home-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Bellefair', serif;

    .App {
        min-height: 100vh;

        header {
            height: 13.7vh;

            .custom-w-h-close-burgerMenu {
                @media (max-width: 767px) {
                    height: 10vh;
                    width: 90%;
                }
            }
        }

        main {
            height: 86.3vh;
        }

        @media (max-width: 768px) {

            header {
                height: 10vh;
            }

            main {
                height: 90vh;
            }
        }

        main {

            .space {
                font-family: 'Bellefair';
            }

            .technology-picture {
                // background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;

                &.launchPicture {
                    background-image: url("./assets/technology/image-launch-vehicle-landscape.jpg");

                    @media (min-width: 1280px) {
                        background-image: url("./assets/technology/image-launch-vehicle-portrait.jpg");
                    }
                }

                &.spaceportPicture {
                    background-image: url("./assets/technology/image-spaceport-landscape.jpg");

                    @media (min-width: 1280px) {
                        background-image: url("./assets/technology/image-spaceport-portrait.jpg");
                    }
                }

                &.spacePicture {
                    background-image: url("./assets/technology/image-space-capsule-landscape.jpg");

                    @media (min-width: 1280px) {
                        background-image: url("./assets/technology/image-space-capsule-portrait.jpg");
                    }
                }
            }



            .custom-width {
                width: 55%;
            }

            .custom-height-10 {
                @media (max-width: 413px) {
                    height: 10%;
                }
            }

            .custom-height-90 {
                @media (max-width: 413px) {
                    height: 90%;
                }

                @media (min-width: 414px) {
                    height: 60%;
                }

                @media (min-width: 1280px) {
                    height: 50%;
                }
            }

            .custom-height-title {

                // 413px origin value
                @media (max-width: 767px) {
                    height: 10%;
                }
            }

            .custom-height-content {
                @media (max-width: 767px) {
                    height: 90%;
                }
            }
        }
    }
}