body {
    background-image: url("./assets/picture/background-home-desktop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Bellefair', serif;

    .App {
        min-height: 100vh;

        main {
            height: 600px;

            .space {
                font-family: 'Bellefair';
                // color: #ffffff;
            }
        }
    }
}